body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/* global */
.container{
    width: 88%;
    margin:auto;
    overflow: hidden;
}


ul{
    margin: 0;
    padding: 0;
}

.dark{
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* header */
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 15px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li{
    float: left;
    display: inline;
    padding: 5px 20px 5px 20px; /*top right botton left*/
}

header #branding{
    float: left;
    padding: 5px;

}

header #branding h1{
    margin: 0;
    color: #e8491d;
}

header nav{
    float: right;
    margin-top: 10px;
}

header a:hover{
    color: #e8491d;
    font-weight: bold;
    font-size: 20px;
}

/* showcase */
#showcase{
    min-height: 400px;
    background:url('../img/background.jpg') no-repeat;
    text-align: center;
    color: #e8491d;
}

#showcase h1{
    margin-top: 65px;
    font-size: 55px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* newsletter */
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;

}

#newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
}

.button_1{
    height: 37px;
    background: #e8491d;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
}

/* boxes */
#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px;
}
/* sidebar */

aside#sidebar{
    float: right;
    width: 30%;
    height: 10px;
}

/* article */

article#main-col{
    float: left;
    width: 65%;
}

.page-title{
    text-align: justify;
    color: #e8491d;
    font-size: 25px ;
}

/* courses */

#courses{
    margin-top: 20px;
}

#courses .course{
    float: left;
    width: 30%;
    text-align: center;
    padding: 10px;
}

#courses .text{
    color: #ffffff;
    background: #e8491d;

}
  
.middle {
transition: .5s ease;
opacity: 0;
}

.course:hover .middle {
opacity: 1;
}

#courses .title{
    color: #e8491d;
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    padding: 10px;
    margin-top: 20px;
    color: #ffffff;
    background: #e8491d;
    text-align: center;
}